<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <add key="Ambiente" value="LOCAL" />
    <add key="Login" value="admin" />
    <add key="Senha" value="senha1234" />
    <add key="Timeout" value="30" />
    <!--<add key="Browser" value="CHROME" />-->
    <add key="Browser" value="CHROME_HEADLESS" />
    <!--<add key="Browser" value="PHANTOMJS" />-->
    <add key="UrlLogin" value="http://jenkins.e-guru.com.br/bs/mattosfilho_bs_ci" />
    <add key="UrlAplicacao" value="https://jenkins.e-guru.com.br/BS/mattosfilho_bs_ci/User" />
    <add key="UtilizaScreenshot" value="S" />
    <add key="ProxyType" value="https" />
  </appSettings>

</configuration>
